<%- include('../layout/ui_header.ejs') %>
    <!-- Page Title -->
    <div class="page-title-area page-title-four">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="page-title-item">
            <h2>Blog Details</h2>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <i class="icofont-simple-right"></i>
              </li>
              <li>Blog Details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Title -->

    <!-- Blog Details -->
    <div class="blog-details-area pt-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="blog-details-item">
              <div class="blog-details-img">
                <img src="/assets/img/blog/2.jpg" alt="Blog" />
                <h2>
                  <%= blog.title %>
                </h2>
                <ul>
                  <li>
                    <a href="/blog-details">
                      <i class="icofont-businessman"></i>
                      Admin
                    </a>
                  </li>
                  <li>
                    <i class="icofont-calendar"></i>
                    Jan 03, 2024
                  </li>
                </ul>
                <p>
                  The rapid advancements in medical science have led to
                  groundbreaking innovations in healthcare. New therapies,
                  improved diagnostic tools, and personalized treatment plans
                  are revolutionizing patient care. This shift is not only
                  enhancing the effectiveness of medical treatments but also
                  increasing life expectancy across various regions. Research
                  and technology continue to push boundaries, promising even
                  greater breakthroughs in the future.
                </p>

                <p>
                  As the world continues to evolve, it is crucial to stay
                  informed about the latest developments in healthcare and
                  medical technologies. This awareness can empower individuals
                  to make informed decisions about their health and wellness. In
                  the coming years, we anticipate significant changes in the way
                  healthcare services are delivered and accessed globally.
                </p>

                <p>
                  The healthcare industry is on the brink of a transformation,
                  with artificial intelligence, robotic surgeries, and
                  telemedicine playing pivotal roles in improving patient
                  outcomes. These advancements are helping to bridge gaps in
                  healthcare access, especially in underserved areas, and are
                  making medical services more affordable and efficient. As we
                  look forward, the potential for positive change in the
                  healthcare sector is limitless.
                </p>
              </div>
              <div class="blog-details-previous">
                <h3>
                  Section 1.10.32 of "de Finibus Bonorum et Malorum", written by
                  Cicero in 45 BC
                </h3>
                <ul>
                  <li>
                    1. Donec a purus at tellus rhoncus semper non sed tortor.
                  </li>
                  <li>
                    2. Etiam ut est laoreet, accumsan erat sed, ullamcorper
                    magna.
                  </li>
                  <li>
                    3. Nullam sit amet magna cursus, consectetur magna in,
                    faucibus erat.
                  </li>
                  <li>
                    4. Aenean vitae tortor pretium, sollicitudin urna at,
                    sollicitudin dui.
                  </li>
                  <li>5. Phasellus tempor velit sed leo viverra lacinia.</li>
                  <li>
                    6. Suspendisse quis sapien dapibus, sagittis ligula a,
                    rhoncus justo.
                  </li>
                </ul>
                <div class="prev-next">
                  <ul>
                    <li>
                      <a href="/blog-details">Previous</a>
                    </li>
                    <li>
                      <a href="/blog-details">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-details-item">
              <div class="blog-details-search">
                <form>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search"
                  />
                  <button type="submit" class="btn blog-details-btn">
                    <i class="icofont-search-1"></i>
                  </button>
                </form>
              </div>
              <div class="blog-details-recent">
                <h3>Recent Blogs</h3>
                <ul>
                  <li>
                    <img src="assets/img/blog/3.jpg" alt="Recent" />
                    <a href="/blog-details"
                      >World AIDS Day, designated on 1 December.</a
                    >
                    <ul>
                      <li>
                        <a href="/blog-details">
                          <i class="icofont-businessman"></i>
                          Admin
                        </a>
                      </li>
                      <li>
                        <i class="icofont-calendar"></i>
                        Jan 03, 2024
                      </li>
                    </ul>
                  </li>
                  <li>
                    <img src="assets/img/blog/4.jpg" alt="Recent" />
                    <a href="/blog-details"
                      >World AIDS Day, designated on 1 December.</a
                    >
                    <ul>
                      <li>
                        <a href="/blog-details">
                          <i class="icofont-businessman"></i>
                          Admin
                        </a>
                      </li>
                      <li>
                        <i class="icofont-calendar"></i>
                        Jan 03, 2024
                      </li>
                    </ul>
                  </li>
                  <li>
                    <img src="assets/img/blog/5.jpg" alt="Recent" />
                    <a href="/blog-details"
                      >World AIDS Day, designated on 1 December.</a
                    >
                    <ul>
                      <li>
                        <a href="/blog-details">
                          <i class="icofont-businessman"></i>
                          Admin
                        </a>
                      </li>
                      <li>
                        <i class="icofont-calendar"></i>
                        Jan 03, 2024
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="blog-details-category">
                <h3>Category</h3>
                <ul>
                  <li>
                    <a href="/blog-details">Health Care</a>
                  </li>
                  <li>
                    <a href="/blog-details">Medical science</a>
                  </li>
                  <li>
                    <a href="/blog-details">Daily lifestyle</a>
                  </li>
                  <li>
                    <a href="/service-details">Medicine</a>
                  </li>
                  <li>
                    <a href="/blog-details">Modern Technology</a>
                  </li>
                  <li>
                    <a href="/blog-details">Cancer Research</a>
                  </li>
                  <li>
                    <a href="/blog-details">BioInformatics</a>
                  </li>
                  <li>
                    <a href="/blog-details">Hospital Events</a>
                  </li>
                  <li>
                    <a href="/blog-details">Student Success</a>
                  </li>
                </ul>
              </div>
              <div class="blog-details-tags">
                <h3>Tags</h3>
                <ul>
                  <li>
                    <a href="/blog-details">Dental</a>
                  </li>
                  <li>
                    <a href="/blog-details">Health</a>
                  </li>
                  <li>
                    <a href="/blog-details">Child</a>
                  </li>
                  <li>
                    <a href="/service-details">Medicine</a>
                  </li>
                  <li>
                    <a href="/blog-details">Cavity</a>
                  </li>
                  <li>
                    <a href="/blog-details">AIDS</a>
                  </li>
                  <li>
                    <a href="/blog-details">Dental</a>
                  </li>
                  <li>
                    <a href="/blog-details">Health</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Blog Details -->

    <!-- Blog Details Form -->
    <div class="blog-details-form pb-100">
      <div class="blog-details-shape">
        <img src="assets/img/blog/6.png" alt="Shape" />
      </div>
      <div class="container">
        <div class="blog-details-form-wrap">
          <h2>Drop your coomment</h2>
          <form>
            <div class="form-group">
              <textarea
                class="form-control"
                id="your_comments"
                rows="8"
                placeholder="Your Comments"
              ></textarea>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Subject"
                  />
                </div>
              </div>
            </div>
            <div class="text-left">
              <button type="submit" class="btn blog-details-form-btn">
                Post A Comment
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End Blog Details Form -->

   <!-- Blog -->
    <section class="blog-area pt-100 pb-70">
      <div class="container">
        <div class="section-title">
          <h2>Our Latest Blogs</h2>
        </div>
       <div class="row justify-content-center">
  <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
    <div class="blog-item">
      <div class="blog-top">
        <a href="/blog-details">
          <img src="assets/img/home-one/11.jpg" alt="Blog" />
        </a>
      </div>
      <div class="blog-bottom">
        <h3>
          <a href="/blog-details"
            >In this hospital, there are specialized surgeons.</a
          >
        </h3>
        <p>
          Our hospital is renowned for its team of highly trained surgeons who specialize in advanced and complex procedures.
        </p>
        <ul>
          <li>
            <a href="/blog-details">
              Read More
              <i class="icofont-long-arrow-right"></i>
            </a>
          </li>
          <li>
            <i class="icofont-calendar"></i>
            Jan 03, 2024
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".5s">
    <div class="blog-item">
      <div class="blog-top">
        <a href="/blog-details">
          <img src="assets/img/home-one/11.jpg" alt="Blog" />
        </a>
      </div>
      <div class="blog-bottom">
        <h3>
          <a href="/blog-details"
            >World AIDS Day: Raising Awareness and Hope.</a
          >
        </h3>
        <p>
          Observed on December 1st, World AIDS Day highlights the global effort to combat HIV/AIDS and support those living with the condition.
        </p>
        <ul>
          <li>
            <a href="/blog-details">
              Read More
              <i class="icofont-long-arrow-right"></i>
            </a>
          </li>
          <li>
            <i class="icofont-calendar"></i>
            Jan 03, 2024
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".7s">
    <div class="blog-item">
      <div class="blog-top">
        <a href="/blog-details">
          <img src="assets/img/home-one/11.jpg" alt="Blog" />
        </a>
      </div>
      <div class="blog-bottom">
        <h3>
          <a href="/blog-details"
            >Over 80 Clinical Trials Launched for Coronavirus.</a
          >
        </h3>
        <p>
          Scientists and medical teams worldwide are testing innovative solutions to combat the coronavirus pandemic through clinical trials.
        </p>
        <ul>
          <li>
            <a href="/blog-details">
              Read More
              <i class="icofont-long-arrow-right"></i>
            </a>
          </li>
          <li>
            <i class="icofont-calendar"></i>
            Jan 03, 2024
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

      </div>
    </section>

    <!-- End Blog -->

    <!-- Footer -->
    <script src="assets/js/owl.carousel.min.js"></script>
     <!-- Meanmenu JS -->
    <script src="assets/js/jquery.meanmenu.js"></script>
    <!-- Slider Slider JS -->
    <script src="assets/js/slick.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Wow JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js"></script>
    <!-- Odometer JS -->
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
 <%- include("../layout/ui_footer.ejs") %>