     <%- include('../layout/ui_header.ejs') %>
     <!-- Page Title -->
        <div class="page-title-area page-title-four">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-item">
                        <h2>Our Latest Blogs</h2>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Blogs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

      <!-- Blog -->
<section class="blog-area-two pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/11.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">
                                In this hospital there are special surgeons.
                            </a>
                        </h3>
                        <p>This hospital is equipped with advanced technology and a team of expert surgeons providing top-notch healthcare services to patients worldwide.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".5s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/12.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">World AIDS Day, designated on 1 December.</a>
                        </h3>
                        <p>World AIDS Day is observed to raise awareness about HIV/AIDS and to support those living with the virus across the globe.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".7s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/13.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">More than 80 clinical trials launch to test coronavirus.</a>
                        </h3>
                        <p>Researchers and scientists have initiated over 80 clinical trials worldwide to develop effective treatments for coronavirus.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/15.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">We always give the best from us.</a>
                        </h3>
                        <p>Our commitment is to consistently deliver exceptional services and innovative solutions to meet our clients' needs.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".5s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/16.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">Be aware about the coronavirus.</a>
                        </h3>
                        <p>Stay informed about coronavirus symptoms, preventive measures, and updates from reliable sources to protect yourself and others.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".7s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/17.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">No one has found any medicines to prevent evolovirus.</a>
                        </h3>
                        <p>Despite ongoing research, no definitive medicine has been developed yet to cure or prevent evolovirus infections.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/18.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">Thailand is trying to make a coronavirus vaccine.</a>
                        </h3>
                        <p>Thailand has joined the global effort to develop a safe and effective vaccine for the coronavirus pandemic.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".5s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/19.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">Already 1932 people have died in China.</a>
                        </h3>
                        <p>The coronavirus outbreak has claimed the lives of 1932 people in China, prompting urgent global responses.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".7s">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="/blog-details">
                            <img src="assets/img/home-one/20.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="/blog-details">30+ countries have been affected by coronavirus.</a>
                        </h3>
                        <p>The coronavirus has spread to over 30 countries, with governments and healthcare organizations responding swiftly.</p>
                        <ul>
                            <li>
                                <a href="/blog-details">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <i class="icofont-calendar"></i>
                                Jan 03, 2024
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->


     <script src="assets/js/owl.carousel.min.js"></script>
     <!-- Meanmenu JS -->
    <script src="assets/js/jquery.meanmenu.js"></script>
    <!-- Slider Slider JS -->
    <script src="assets/js/slick.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Wow JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js"></script>
    <!-- Odometer JS -->
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
 <%- include("../layout/ui_footer.ejs") %>