<%- include('../layout/ui_header.ejs') %>
        <!-- Page Title -->
        <div class="page-title-area page-title-five">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-item">
                        <h2>Contact Us</h2>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Contact us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Location -->
        <div class="location-area">
            <div class="container">
                <div class="row location-wrap">
                    <div class="col-sm-6 col-lg-4">
                        <div class="location-item">
                            <i class="icofont-location-pin"></i>
                            <h3>Location</h3>
                            <p>Sampla Road, Near Prince Hotel,<br> Kharkhoda, Sonipat Haryana</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="location-item">
                            <i class="icofont-ui-message"></i>
                            <h3>Email</h3>
                            <ul>
                                <li>
                                    <a href="mailto:delhihospitalkkd@gmail.com">delhihospitalkkd@gmail.com</a>
                                </li>
                                <!-- <li>
                                    <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#f49199959d98918c9599849891b49a959991da979b99"><span class="__cf_email__" data-cfemail="8aefe7ebe3e6eff2ebe7fae6efcae4ebe7efa4e9e5e7">[email&#160;protected]</span></a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6   col-lg-4">
                        <div class="location-item">
                            <i class="icofont-ui-call"></i>
                            <h3>Phone</h3>
                            <ul>
                                <li>
                                    <a href="tel:+919811884062">+919811884062,</a>
                                </li>
                                <li>
                                    <a href="tel:+919729017553">+919729017553,</a>
                                </li>
                                <li>
                                    <a href="tel:+919813379592">+919813379592</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Location -->

        <!-- Drop -->
        <section class="drop-area pt-100">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-7 p-0">
                        <div class="drop-item drop-img">
                            <div class="drop-left">
                                <h2>Drop your message for any info or question.</h2>
                                <form id="contactForm">
									<div class="row justify-content-center">
										<div class="col-sm-6 col-lg-6">
											<div class="form-group">
												<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name">
												<div class="help-block with-errors"></div>
											</div>
										</div>
			
										<div class="col-sm-6 col-lg-6">
											<div class="form-group">
												<input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email">
												<div class="help-block with-errors"></div>
											</div>
										</div>
			
										<div class="col-sm-6 col-lg-6">
											<div class="form-group">
												<input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Phone">
												<div class="help-block with-errors"></div>
											</div>
										</div>
			
										<div class="col-sm-6 col-lg-6">
											<div class="form-group">
												<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject">
												<div class="help-block with-errors"></div>
											</div>
										</div>
			
										<div class="col-md-12 col-lg-12">
											<div class="form-group">
												<textarea name="message" class="form-control" id="message" cols="30" rows="5" required data-error="Write your message" placeholder="Your Message"></textarea>
												<div class="help-block with-errors"></div>
											</div>
										</div>

                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <div class="form-check agree-label">
                                                    <input
                                                        name="gridCheck"
                                                        value="I agree to the terms and privacy policy."
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        id="gridCheck"
                                                        required
                                                    >
                                            
                                                    <label class="form-check-label" for="gridCheck">
                                                        Accept <a href="/terms-condition">Terms & Conditions</a> And <a href="/privacy-policy">Privacy Policy.</a>
                                                    </label>
                                                    <div class="help-block with-errors gridCheck-error"></div>
                                                </div>
                                            </div>
                                        </div>
			
										<div class="col-md-12 col-lg-12">
											<button type="submit" class="drop-btn">
												Send
											</button>
											<div id="msgSubmit" class="h3 text-center hidden"></div>
											<div class="clearfix"></div>
										</div>
									</div>
								</form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 p-0">
                        <div class="speciality-item speciality-right speciality-right-two speciality-right-three">
                            <img src="assets/img/home-two/4.jpg" alt="Contact">
                            <div class="speciality-emergency">
                                <div class="speciality-icon">
                                    <i class="icofont-ui-call"></i>
                                </div>
                                <h3>Emergency Call</h3>
                                <p>919811884062</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Drop -->

        <!-- Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13975.448384716572!2d76.88665278715821!3d28.87271959999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390da317978e2b6b%3A0xd456c30718a409df!2sDELHI%20HOSPITAL!5e0!3m2!1sen!2sin!4v1733301228282!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        <!-- End Map -->

        <!-- Footer -->
       <script src="assets/js/owl.carousel.min.js"></script>
     <!-- Meanmenu JS -->
    <script src="assets/js/jquery.meanmenu.js"></script>
    <!-- Slider Slider JS -->
    <script src="assets/js/slick.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Wow JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js"></script>
    <!-- Odometer JS -->
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
 <%- include("../layout/ui_footer.ejs") %>