<%- include('../layout/ui_header.ejs') %>
<!-- Page Title -->
<div class="page-title-area page-title-four">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="page-title-item">
        <h2>Departments</h2>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <i class="icofont-simple-right"></i>
          </li>
          <li>Departments</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- Departments -->
<section class="departments-area pt-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-tooth"></i>
          <h3>Dental Care</h3>
          <p>
            Brush your teeth twice a day with a fluoride toothpaste. Clean
            between teeth regularly, aiming for once a day
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-baby"></i>
          <h3>Baby Care</h3>
          <p>
            Ensuring the daily required feeds and helping the baby to burp after
            every feed. Properly cleaning sensitive parts after nappy change.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-laboratory"></i>
          <h3>Laboratory</h3>
          <p>
            The collected blood sample is labeled and sent to a laboratory for
            analysis.It was synthesized in a laboratory and sent for analysis.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-icu"></i>
          <h3>ICU</h3>
          <p>
            An ICU (intensive care unit) is a specialized hospital ward that
            provides critical care and life support to patients who are very ill
            or injured.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-dna-alt-2"></i>
          <h3>DNA Test</h3>
          <p>
            A DNA test, also known as genetic testing, is a medical procedure
            that analyzes DNA to identify mutations in genes, chromosomes, or
            proteins.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-surgeon"></i>
          <h3>Surgeon</h3>
          <p>
            Even though there are different traditions in different times and
            places, a modern surgeon is a licensed physician ...
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-xray"></i>
          <h3>X-ray</h3>
          <p>
            X-ray imaging creates pictures of the inside of your body. The
            images show the parts of your body in different shades of black and
            white.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-blood-test"></i>
          <h3>Blood Test</h3>
          <p>
            Find out how well organs, such as your kidneys, liver, heart, or
            thyroid are working.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="department-item">
          <i class="icofont-ambulance-crescent"></i>
          <h3>Ambulance Service</h3>
          <p>
            As the mobile arm of the health service in London, our main role is
            to respond to emergency 999 calls, getting medical help to patients
            ..
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Departments -->

<!-- Footer -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Meanmenu JS -->
<script src="assets/js/jquery.meanmenu.js"></script>
<!-- Slider Slider JS -->
<script src="assets/js/slick.min.js"></script>
<!-- Magnific Popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Wow JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Form Ajaxchimp JS -->
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Odometer JS -->
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/jquery.appear.min.js"></script>
<!-- Custom JS -->
<script src="assets/js/custom.js"></script>
<%- include("../layout/ui_footer.ejs") %>
