 <!-- Footer -->
    <footer class="pb-70">
      <!-- Newsletter -->
      <div class="newsletter-area">
        <div class="container">
          <div class="row newsletter-wrap align-items-center">
            <div class="col-lg-7">
              <div class="newsletter-item">
                <h2>Join Our Newsletter</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p> -->
              </div>
            </div>
            <div class="col-lg-5">
              <div class="newsletter-item">
                <div class="newsletter-form">
                  <form class="newsletter-form" data-toggle="validator">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Your Email"
                      name="EMAIL"
                      required
                      autocomplete="off"
                    />

                    <button class="btn newsletter-btn" type="submit">
                      Subscribe
                    </button>

                    <div id="validator-newsletter" class="form-result"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Newsletter -->

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-4">
            <div class="footer-item">
              <div class="footer-contact">
                <h3>Contact Us</h3>
                <ul>
                  <li>
                    <i class="icofont-ui-message"></i>
                    <a href="mailto:delhihospitalkkd@gmail.com"
                      >delhihospitalkkd@gmail.com</a
                    >
                  </li>
                  <li>
                    <i class="icofont-stock-mobile"></i>
                    <a href="tel:+919811884062">Call: +919811884062</a>
                    <a href="tel:+919729017553">Call: +919729017553</a>
                    <a href="tel:+919813379592">Call: +919813379592</a>
                  </li>
                  <li>
                    <i class="icofont-location-pin"></i>
                    Sampla Road, Near Prince Hotel,<br />
                    Kharkhoda, Sonipat Haryana
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="footer-item">
              <div class="footer-quick">
                <h3>Quick Links</h3>
                <ul>
                  <li>
                    <a href="/about">About us</a>
                  </li>
                  <li>
                    <a href="/blog">Blog</a>
                  </li>
                  <li>
                    <a href="/blog-details">Our Expertise</a>
                  </li>
                  <li>
                    <a href="/faq">Faq</a>
                  </li>
                  <li>
                    <a href="/doctor">Doctors</a>
                  </li>
                  <li>
                    <a href="/contact">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
              <div class="footer-quick">
                <h3>Our Services</h3>
                <ul>
                  <li>
                    <a href="/service-details">Dental Care</a>
                  </li>
                  <li>
                    <a href="/service-details">Cardiology</a>
                  </li>
                  <li>
                    <a href="/service-details">Hijama Therapy</a>
                  </li>
                  <li>
                    <a href="/service-details">Massage Therapy</a>
                  </li>
                  <li>
                    <a href="/service-details">Ambluance Sevices</a>
                  </li>
                  <li>
                    <a href="/service-details">Medicine</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
              <div class="footer-feedback">
                <h3>Certification</h3>
                <img
                  class="rounded-circle"
                  height="100"
                  width="100"
                  src="./assets/img/home/certificate.webp"
                  alt="certificate"
                />
                <h3 class="my-3">Follow us on:</h3>
                <div class="rounded-social-buttons d-flex">
                  <a
                    class="social-button facebook"
                    href="https://www.facebook.com/"
                    target="_blank"
                  >
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a
                    class="social-button twitter"
                    href="https://www.twitter.com/"
                    target="_blank"
                  >
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a
                    class="social-button instagram"
                    href="https://www.instagram.com/"
                    target="_blank"
                  >
                    <i class="fab fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Copyright -->
    <div class="copyright-area">
      <div class="container">
        <div class="copyright-item">
          <p>© <span>Delhi Hospital</span>All Rights Reserved 2024</p>
        </div>
      </div>
    </div>
    <!-- End Copyright -->